.grupo{
    position: absolute;
    z-index: 1;
    top:25%;
    width: 15%;
}

.botao{
    width: 200px;
    text-align: center;
    padding: 15px 20px;
    border: 1px solid #eee;
    border-radius: 6px;
    background-color: #FCC302;
    font-size: 18px;
    top: 100%;
    margin-left: 15%;

    
}