.grupo{
    position: absolute;
    z-index: 1;
    top:25%;
    width: 15%;
}

.teste{
    position: absolute;
    z-index: 1;
    top:25%;
    width: 5%;
    margin-left: 80%;
    
}

.botao{
    width: 30%;
    text-align: center;
    padding: 15px 10px;
    border: 1px solid #eee;
    border-radius: 6px;
    background-color: #FCC302;
    font-size: 12px;
    margin-left: 600%;
    margin-top: 3%;
    
    
}

div button{
    color: white;
    text-align: center;
}