.grupo{
    position: absolute;
    z-index: 12;
    top:40%;
    width: 15%;
    height: 100%;
}

.botao{
    width: 100%;
    text-align: justify;
    padding: 10px 10px;
    border: 1px solid #eee;
    border-radius: 6px;
    background-color: #eeece7;
    font-size: 12px;
    margin-left: 100%;
    margin-top: 3%;
    height: 20%;
    
    
}

div button{
    color: rgb(3, 3, 80);
    text-align: center;
}


.teste{
    position: absolute;
    z-index: 1;
    top:25%;
    width: 5%;
    margin-left: 80%;
    
}