.popup{
    position:absolute;
    top: 50%;
    left: 5%;
    z-index: 1;
    border-radius: 10px;
}

.popup-header{
    padding: 20px;
    cursor:move;
    background-color: #094270;
    z-index: 2;
    border-radius: 10px 10px 0 0;
}

.popup-header .close-btn{
    position: absolute;
    right: 5px;
    top: 8px;
    cursor:pointer;
    background-color: rgb(255, 175, 109);
    color: #094270;
    border-radius: 4px;
}

.popup-inner{
    position: relative;
    padding: 15px;
    width: 100%;
    max-width: 640px;
    background-color: rgb(255, 175, 109);
    border-radius: 0 0 10px 10px;
}



/*.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 14;
}

.popup-inner {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: #FFF;
}

.popup-inner .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
}*/