.topnav {
    background-color: rgb(245, 185, 75);
    overflow: hidden;
    display:flex;
    text-align:center;
  }

  .topnav .brand  {
    float: left;
    color: rgb(0, 2, 128);
    text-decoration: none;
    font-size: 25px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float:left;
    color: rgb(0, 2, 128);
    padding: 15px 16px;
    text-decoration: none;
    font-size: 18px;
    display:flex; 
    align-items: center;
  }

 
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(0, 2, 128);
    color: rgb(245, 185, 75);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: rgb(0, 2, 128);
    color: rgb(245, 185, 75);
  }

  .topnav .brand.active  {
    float: left;
    color: rgb(0, 2, 128);
    text-decoration: none;
    font-size: 25px;
    background-color: rgb(0, 2, 128);
    color: rgb(245, 185, 75);
  }